{% extends 'base.html' %}


{% block meta %}
<meta http-equiv="refresh" content="30">
{% endblock %}{% block content %}
<script type="text/javascript">
    var map;
    var marker_s, marker_e, marker_p1, marker_p2;
    var totalMarkerArr = [];
    var drawInfoArr = [];
    var resultdrawArr = [];


    function initTmap() {
        // 1. 지도 띄우기
        map = new Tmapv2.Map("map_div", {
            center: new Tmapv2.LatLng(37.570028, 126.989072),
            width: "100%",
            height: "400px",
            zoom: 15,
            zoomControl: true,
            scrollwheel: true,
            compassMode: true,
            sightVisible: true,
            trackingMode: true
        });


        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
                function (position) {
                    //1.5 geolocation으로  접속 위치 마커 표시하기
                    var currentLatitudeY = position.coords.latitude;// position: new Tmapv2.LatLng(lat, lon),
                    var currentLongitudeX = position.coords.longitude;

                    // 2. 시작, 도착 심볼찍기
                    // 시작
                    marker_s = new Tmapv2.Marker({
                        position: new Tmapv2.LatLng(currentLatitudeY, currentLongitudeX),
                        icon: "http://tmapapis.sktelecom.com/upload/tmap/marker/pin_r_m_s.png",
                        iconSize: new Tmapv2.Size(24, 38),
                        map: map
                    });


                    map.setCenter(new Tmapv2.LatLng(currentLatitudeY, currentLongitudeX));
                    map.setZoom(35);
                    // 도착
                    marker_e = new Tmapv2.Marker(
                        {
                            // position: new Tmapv2.LatLng(37.723181, 127.035791),
                            position: new Tmapv2.LatLng({
                    {
                        destination_lat
                    }
                },
                    {
                        {
                            destination_lon
                        }
                    }
                ),
                    icon: "http://tmapapis.sktelecom.com/upload/tmap/marker/pin_r_m_e.png",
                        iconSize
                :
                    new Tmapv2.Size(24, 38),
                        map
                :
                    map
                })
                    ;
                    // 3. 경로탐색 API 사용요청
//setCompassMode


                    let destName = String("{{ destination_name }}")
                    const navi_data = {
                        "appKey": "l7xxb06b75b17d194ea8adcb83bfec85c97c",
                        "startX": currentLongitudeX,
                        "startY": currentLatitudeY,

                        "endX": {
                    {
                        destination_lon
                    }
                },
                    "endY"
                :
                    {
                        {
                            destination_lat
                        }
                    }
                ,

                    "reqCoordType"
                :
                    "WGS84GEO",
                        "resCoordType"
                :
                    "EPSG3857",
                        "startName"
                :
                    "현위치",
                        //    "endName": "도착지"
                        "endName"
                :
                    destName
                }
                    $.ajax({
                        method: "POST",
                        url: "https://apis.openapi.sk.com/tmap/routes/pedestrian?version=1&format=json&callback=result",// 보행자 경로
                        async: false,
                        data: navi_data,
                        success: function (response) {
                            var resultData = response.features;
                            console.log(resultData)

                            //결과 출력
                            var tDistance = "목적지 " + navi_data['endName'] + "까지 남은   총 거리 : "
                                + ((resultData[0].properties.totalDistance) / 1000)
                                    .toFixed(1) + "km,";
                            var tTime = " 총 시간 : "
                                + ((resultData[0].properties.totalTime * 1.11) / 60)
                                    .toFixed(0) + "분"; //1.11 은 시각장애인을 위한 배율
                            var first_things_to_do = ""
                            if (resultData[1].geometry.type == "LineString") {
                                first_things_to_do += "직선 구간입니다. "
                                first_things_to_do += resultData[1].properties.description;
                                first_things_to_do += "직진하세요."
                            } else if (resultData[1].geometry.type == "Point") {
                                first_things_to_do += "커브 구간입니다. "
                                first_things_to_do += resultData[1].properties.description;
                                first_things_to_do += "하세요."

                                if (resultData[1].properties.description.includes("횡단보도")) {
                                    first_things_to_do += "횡단보도구간입니다.  안전에 유의해주세요."
                                }
                            }
                            var first_road_name = resultData[1].properties.name;
                            const result = tDistance + tTime

                            // 4. html output
                            const all_btns = {
                                "first_things_to_do_btn": document.querySelector("#first_things_to_do"),
                                "result_btn": document.querySelector("#result"),
                                "first_road_name_btn": document.querySelector("#first_road_name")
                            }
                            //5. 텍스트 넣기
                            for (let btns in all_btns) {
                                let vari_btns = btns.replace("_btn", "");
                                vari_btns = eval(vari_btns)  // 변수화
                                all_btns[btns].innerText = vari_btns;
                                all_btns[btns].addEventListener("click", function (e) {
                                    speech(vari_btns);
                                });
                            }

                            //6. 텍스트 소리 넣기


                            //기존 그려진 라인 & 마커가 있다면 초기화
                            if (resultdrawArr.length > 0) {
                                for (var i in resultdrawArr) {
                                    resultdrawArr[i]
                                        .setMap(null);
                                }
                                resultdrawArr = [];
                            }

                            drawInfoArr = [];

                            for (var i in resultData) { //for문 [S]
                                var geometry = resultData[i].geometry;
                                var properties = resultData[i].properties;
                                var polyline_;


                                if (geometry.type == "LineString") {
                                    for (var j in geometry.coordinates) {
                                        // 경로들의 결과값(구간)들을 포인트 객체로 변환
                                        var latlng = new Tmapv2.Point(
                                            geometry.coordinates[j][0],
                                            geometry.coordinates[j][1]);
                                        // 포인트 객체를 받아 좌표값으로 변환
                                        var convertPoint = new Tmapv2.Projection.convertEPSG3857ToWGS84GEO(
                                            latlng);
                                        // 포인트객체의 정보로 좌표값 변환 객체로 저장
                                        var convertChange = new Tmapv2.LatLng(
                                            convertPoint._lat,
                                            convertPoint._lng);
                                        // 배열에 담기
                                        drawInfoArr.push(convertChange);
                                    }
                                } else {
                                    var markerImg = "";
                                    var pType = "";
                                    var size;

                                    if (properties.pointType == "S") { //출발지 마커
                                        markerImg = "http://tmapapis.sktelecom.com/upload/tmap/marker/pin_r_m_s.png";
                                        pType = "S";
                                        size = new Tmapv2.Size(24, 38);
                                    } else if (properties.pointType == "E") { //도착지 마커
                                        markerImg = "http://tmapapis.sktelecom.com/upload/tmap/marker/pin_r_m_e.png";
                                        pType = "E";
                                        size = new Tmapv2.Size(24, 38);
                                    } else { //각 포인트 마커
                                        markerImg = "http://topopen.tmap.co.kr/imgs/point.png";
                                        pType = "P";
                                        size = new Tmapv2.Size(8, 8);
                                    }

                                    // 경로들의 결과값들을 포인트 객체로 변환
                                    var latlon = new Tmapv2.Point(
                                        geometry.coordinates[0],
                                        geometry.coordinates[1]);

                                    // 포인트 객체를 받아 좌표값으로 다시 변환
                                    var convertPoint = new Tmapv2.Projection.convertEPSG3857ToWGS84GEO(
                                        latlon);

                                    var routeInfoObj = {
                                        markerImage: markerImg,
                                        lng: convertPoint._lng,
                                        lat: convertPoint._lat,
                                        pointType: pType
                                    };

                                    // Marker 추가
                                    marker_p = new Tmapv2.Marker(
                                        {
                                            position: new Tmapv2.LatLng(
                                                routeInfoObj.lat,
                                                routeInfoObj.lng),
                                            icon: routeInfoObj.markerImage,
                                            iconSize: size,
                                            map: map
                                        });
                                }
                            }//for문 [E]
                            drawLine(drawInfoArr);
                        },
                        error: function (request, status, error) {
                            console.log("code:" + request.status + "\n"
                                + "message:" + request.responseText + "\n"
                                + "error:" + error);
                        }
                    });


                });


        }


    }

    function speech(txt) {
        var utterThis = new SpeechSynthesisUtterance(txt);
        var synth = window.speechSynthesis;
        synth.speak(utterThis)

    }

    $(document).ready(function () {
        initTmap();
    });

    function addComma(num) {
        var regexp = /\B(?=(\d{3})+(?!\d))/g;
        return num.toString().replace(regexp, ',');
    }

    function drawLine(arrPoint) {
        var polyline_;

        polyline_ = new Tmapv2.Polyline({
            path: arrPoint,
            strokeColor: "#DD0000",
            strokeWeight: 6,
            map: map
        });
        resultdrawArr.push(polyline_);
    }


</script>
</head>
<body>

<!-- 190430 기존 지도를 모두 이미지 처리 위해 주석 처리 S -->
<div id="map_wrap" class="map_wrap3">
    <div id="map_div"></div>
</div>
<div class="map_act_btn_wrap clear_box"></div>
<p id="result"></p>
<p id="first_road_name"></p>
<div id="first_things_to_do" style="background-color: dodgerblue; height: 30px"></div>

<br/>
{% endblock %}

